<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/stylesheets/Login/style.css">
</head>
<body>
<div class="login-page">
    <div class="form">
      <form action="/login" method="post" class="login-form">
        <input type="text" placeholder="email" name="email"/>
        <input type="password" placeholder="password" name="password"/>
        <button type="submit">Login</button>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
    </div>
  </div>
</body>
</html>

