<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    
    <% const spotify = locals.spotify %>
    <% if (!spotify) { %>
    <div class="home-wrapper">
        <div class="spotify-wrapper">
            <div class="buttons">
            <a href="/connect" class="button button-spotify hover-none">
                <i class="fab fa-spotify"></i>
                <span>Connect with Spotify</span>
            </a>
            </div>
        </div>
    </div>
    <% } else { %>
        <div class="home-wrapper">
            <div class="spotify-wrapper">
                <h2 class="connected-as"><i class="fab fa-spotify"></i> Connected as: </h2>
                <div class="buttons">
                    <a href="<%= spotify.href %>" class="button button-spotify hover-none" target="_blank">
                        <% if (spotify.picture) { %>
                        <img src="<%= spotify.picture %>" alt="avatar" class="avatar">
                        <% } %>
                        <span class="name"><%= spotify.name %></span>
                    </a>
                    <a href="/disconnect/spotify" class="button button-opaque15 hover-none">
                        <span>Disconnect</span>
                    </a>
                </div>
                <h3 class="upper-hr"><i class="far fa-star"></i> View your favorites:</h3>
                <div class="buttons">
                    <a href="/spotify/songs" class="button button-opaque15 hover-none<% if (locals.currentPage === 'songs') {
                    %>  active<% } %>">
                        <span>Songs</span>
                    </a>
                    <a href="/spotify/artists" class="button button-opaque15 hover-none<% if (locals.currentPage === 'artists') {
                    %>  active<% } %>">
                        <span>Artists</span>
                    </a>
                    <a href="/spotify/albums" class="button button-opaque15 hover-none<% if (locals.currentPage === 'albums') {
                    %>  active<% } %>">
                        <span>Albums</span>
                    </a>
                    <a href="/spotify/playlists" class="button button-opaque15 hover-none<% if (locals.currentPage === 'playlists') {
                    %>  active<% } %>">
                        <span>Playlists</span>
                    </a>
                </div>
                <% } %>

</div>
</div>
</body>
</html>
