<% const spotify = locals.spotify %>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/Home/style.css">
  </head>
  <body>
    <div class="navbar">
      <a href="/">ACAV</a>
      <a href="/spotify/songs">Songs</a>
      <a href="/spotify/artists">Artists</a>
      <a href="/spotify/albums">Albums</a>
      <a href="/map">Map</a>
      <a href="/disconnect" class="right">Logout</a>
      </div>
      
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <div id='png'></div>
    </div>
  </body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var dict = {}
    "<% for (const [key, val] of Object.entries(spotify)) { %>"
    dict["<%= key %>"] = "<%= val %>"
    "<% } %>"
    //console.log(dict)
    // Define the chart to be drawn.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Song');
    data.addColumn('number', 'Popularity');
    
    for (var key in dict) {
        var value = dict[key];
        data.addRow([key, parseInt(value)])
    }

    var options = {
      title: 'My Favorite Songs',
      pieHole: 0.4,
    };
    var piechart = document.getElementById('piechart');
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    google.visualization.events.addListener(chart, 'ready', function () {
        document.getElementById('png').outerHTML = '<a href="' + chart.getImageURI() + '" download>Download as PNG</a>';
        
        //console.log(piechart.innerHTML);
      });

    chart.draw(data, options);
  }
</script>

</html>